[2012-08-02 12:44] fetzig opened #1 "rest api: user passwort / key ring mindestlaenge"
IST:
- kann user mit IMHO zu kurzen passwort und key ring registireren
- kann user mit selben passwort und key ring registrieren

SOLL (IMHO):
- fehlermedlung: "passwort/key ring muss mindestens n zeichen lang sein"
- fehlermeldung: "passwort und key ring duerfen nicht ident sein"

[2012-08-02 12:47] fetzig opened #2 "rest api: email validierung"
- bei der registierung kann ein beliebiger string als email angegeben werde.
- wenn der parameter ein leestring ist bekommt man vom server gar keinen response -> timeout

[2012-08-02 13:08] fetzig opened #3 "rest api: email validierung 2"
nach der registrierung soll der benutzer seine email "bestaetigen".

d.h.
- backmeup-prototype soll email an den benutzer mit "key" bzw. link zum bestaetigen der email adresse schicken.
- via rest api soll backmeup-frontend den key (und username) an backmeup-prototype schicken und somit user's email adresse "freischalten".

link sollte dieses format haben:
https://backmeup.at/verify_email/<key>

[2012-08-02 15:37] keros commented on #1
Ich muss noch nachschauen aber ich glaube wir hatten entschieden, dass das User PWD und das key ring PWD gleich sein dürfen.
Das ganze zwecks der Userfreundlichkeit.

[2012-08-06 08:46] ghost commented on #1
Korrekt, Passwort und KeyRing dürfen de facto gleich bleiben; also für den ersten Prototyp reicht es, beim Parameter keyRing immer das User-Passwort zu übergeben.

Die Länge muss allerdings wirklich vorgegeben werden.

[2012-08-06 12:08] ghost opened #4 "put e-mail-utility in REST layer"
The REST layer should be able to send e-mails via the org.backmeup.utilities project.
E. g:
/mail/userId
{
  "subject" : "Hello!",
  "message" : "This is the body of the message!"
}

[2012-08-14 09:57] ghost commented on #1
Die Geschäftslogik überprüft nun die minimale Länge für User PWD und KeyRing PWD.
Die Konfiguration erfolgt in bl.properties:

[code]

Das Mindestlänge ist derzeit auf 8 Zeichen gesetzt.
Der REST-Layer schickt bei zu kurzem Passwort errorCode 400 (BAD_REQUEST) mit folgenden JSON-Daten:

[code]

Revision 9e6f83aef9d9365e0602c1f3383dc443f51ecfa6

[2012-08-14 09:57] #1 closed, assigned to nobody

[2012-08-14 10:54] ghost commented on #2
Ab Revision 9e6f83aef9d9365e0602c1f3383dc443f51ecfa6 prüft die Geschäftslogik die E-Mail-Adresse während der Registrierung. Die erhaltene Adresse wird mit einem regulären Ausdruck überprüft. Der Ausdruck kann in bl.properties eingestellt werden:

[code]

Sollte die E-Mail-Adresse ungültig sein, überträgt die REST-Schnittstelle folgende Nachricht (errorCode=400, BAD_REQUEST):

[code]

[2012-08-14 10:57] ghost commented on #2
Der Timeout passiert, weil RESTEasy auf alle Parameter wartet, die in der Schnittstelle definiert wurden (in diesem Fall email-Parameter). Mögliche Lösung(en):
- OutputStream nach Versendung der Nachricht seitens Python schließen (wenn überhaupt möglich)
- E-Mail-Adresse immer mitübertragen

[2012-08-14 10:58] #2 closed, assigned to nobody

[2012-08-14 11:25] ghost commented on #3
BackMeUp schickt nun eine Nachricht an neu registrierte Benutzer, indem folgender (frei konfigurierbarer Text), gesendet wird:

[code]

Die URL zu der zurückgeleitet werden soll, kann in bl.properties eingestellt werden:

[code]

Anstelle `%s` setzt die Plattform einen eindeutigen generierten (Base64(SHA-256)) Verifizierungsschlüssel ein.
Nach Umleitung zur emailVerificationUrl muss folgende neue

[2012-08-17 14:05] fetzig opened #5 "unique email bug"
IS:
if you try to register a new user with an email address of an existing user the rest api responds with a 500.

SHOUD:
respond a 400 (or something like that) with an errorMessage "user with this email already exists" instead.

[2012-08-17 14:10] fetzig opened #6 "user registration to slow"
IS:
rest api processes the registration process synchron. which means the web frontend gets no response until the user is created _and_ his verification email was sent. the verification key is also added to the response.

SHOULD:
rest api should respond asap. there is no need for the frontend to get the verification key. sending the verification email should be done asynchronous (after the rest ap

[2012-08-17 14:24] fetzig opened #7 "user login not possible after registration"
IS:
can't login after registration
{"errorMessage":"User sepp6 has not been activated!","errorType":"org.backmeup.model.exceptions.UserNotActivatedException"}

SHOULD:
user should be able to login (no matter if email verification was done or not)

[2012-08-17 14:48] fetzig commented on #3
erst mal: super, danke.

kleiner typo is noch im code, wenn das fuer euch ok ist kann ich sowas in zukunft selbst korrigieren (weiß aber nicht mal ob ich "push rechte" in dem repository hab...)

see: https://github.com/backmeup/backmeup-prototype/blob/master/org.backmeup.rest/src/main/java/org/backmeup/rest/Users.java#L74

IS:
/users/{verificationKey}/verfiyEmail

SHOULD:
/users/{verificationKey}/

[2012-08-20 08:24] ghost commented on #5
Fixed with Revision 0834f8adb1385d4a55911f6e5a6e8a5f349e6304

[2012-08-20 08:24] #5 closed, assigned to nobody

[2012-08-20 08:26] ghost commented on #6
The verification key will be passed to the caller because python integration tests would like to automatically verify users during tests.

The mailer class now sends emails asynchronously improving performance drastically (Revision cae13cb513dc0933cc19c7d0df5b8ae4154c1660)

[2012-08-20 08:26] #6 closed, assigned to nobody

[2012-08-20 08:36] ghost commented on #7
Fixed with Revision 311714cd5278e9e6a0bcd3c0fc219c848ddbd1bf

[2012-08-20 08:40] ghost commented on #3
Bitte typos in Zukunft gleich selbst korrigieren!
(mit Revision 480df036d60f6604290756d5d9d4b3144c49207d erledigt)

[2012-08-20 08:40] #3 closed, assigned to nobody

[2012-08-20 08:43] keros commented on #7
Is now to late but maybe we should discuss this point. What should we do with an non verified E-Mail address? Why should we send this E-Mail if we not use it for user verification?

[2012-08-20 08:50] ghost commented on #7
User verification takes place during all other REST calls, only login has been changed as proposed here.

But yes, following solution might be more appropriate:
The web ui should login even though a UserNotActivatedException occurs. In case of this exception, it should only show a button / link to request a new verification email (plus an additional way to change the entered email address).

the w

[2012-08-20 11:31] fetzig commented on #7
so how does the "web ui" know if the users password is correct...

[2012-08-20 11:48] ghost commented on #7
The core could check the password before it checks the activation state, resulting in an InvalidCredentialsException instead of a UserNotActivatedException. If the password + username is ok, but the user has not been activated, a UserNotActivatedException would be raised.

As an alternative we could simply add another REST method, e.g.: `/users/{username}/activated` returning 201 NO_CONTENT (if ac

[2012-08-20 11:59] fetzig commented on #7
-1

way to obscure, even if the docu would cover all possible exceptions (which it doesn't).

imo the UserNotActivatedException shouldn't be triggered by the "/users/{username}/login" call. you can respond json data describing the state of the user when a login[sic] request is made. i.e.:

[code]

UserNotActivatedException can be returned after petty much all the other rest calls.

[2012-08-20 12:04] fetzig opened #8 "verifyEmail call insufficient"
IS:
calling "/users/{verificationKey}/verifyEmail" responds with 204 if the hash is correct.

SHOULD:
"/users/{verificationKey}/verifyEmail" should respond the users username. so backmeup-frontend knows which user has been verified.

[code]

[2012-08-22 11:57] fetzig opened #9 "multiple user email verification requests..."
IS:
making a request to /users/{verificationKey}/verifyEmail (with valid verification key) a second (third,...) time responds with a 400 + org.backmeup.model.exceptions.EmailVerificationException.

SHOULD:
respond with 204 or with 400 + "user already verified"-Exception (or something similar)

[2012-09-04 09:15] keros opened #10 "Does "Storage.move" create the new path?"
File Path: bmu_facebook_04.09.2012/dir1/dir2/file1

storage.move ("bmu_facebook_04.09.2012/dir1/dir2/file1", "bmu_facebook_04.09.2012_part1/dir1/dir2/file1");

Does the move command automatically create the new top folder and all sub folders?

[2012-09-10 13:23] fetzig opened #11 "REST api: /jobs/sepp30/status returns NullPointerException"
on dev server requesting:
[GET] /jobs/sepp30/status

returns:

[code]

[2012-09-10 13:47] fetzig opened #12 "REST api: missing rest call [GET] /jobs/{username}/{jobID}"
can't get detailed data of a backup job.

i.e.: [GET] /jobs/{username}/{jobID} doesen't work.

would need stuff like, name, createtime,...

[2012-09-10 14:26] fetzig commented on #12
adding those properties to the response of [GET] /jobs/{username}/ would fix it for me too.

[2012-09-11 10:07] fetzig commented on #12
same with datasource and datasink profiles.

way to little info responds from [GET] /dataskink/{username}/profiles

so either put more info in the existing rest call (what plugin, createtime,...) or add a additional call like this

[GET] /datasink/{username}/profiles/{profileID}

[2012-09-12 12:07] fetzig opened #13 "REST api: [POST] /datasources/{username}/profiles/{profileId}/options"
none of the different kind of profiles return any options...bug? not implemented yet?

[2012-09-12 12:54] fetzig opened #14 "[GET] /actions/ throws exception"
[code]

[2012-09-12 13:34] fetzig opened #15 "REST api: [POST] /datasinks/{username}/validate/{profileId}"
keyRing should be "FormParam" but is "PathParam"...

thus:
500 Unknown @PathParam: keyRing for path: /datasinks/sepp30/validate/4

[2012-09-12 13:51] fetzig opened #16 "no backups"
have created plenty of backup jobs by now (moodle -> dropbox). no actual backup was created on my dropbox.

[2012-09-12 14:00] fetzig opened #17 "REST api: /jobs/{username}/status and /jobs/{username}/status/overview"
returns

[code]

[2012-09-12 14:01] fetzig commented on #17
or returns an empty object:

[code]

but i have at least 2 jobs.

[2012-09-12 14:09] fetzig commented on #17
[GET] /jobs/{username}/{jobId}/status

returns an empty object as well. no matter if i add fromDate/toDate or not.

[2012-09-18 08:10] ghost commented on #10
Yes: The LocalFilesystemStorage creates all folders. We are using FileUtils.moveFile from org.apache.commons.io which creates all sub folders. (http://commons.apache.org/io/api-release/org/apache/commons/io/FileUtils.html)

However: The root folder of the backup (bmu_facebook_04.09.2012) cannot be referenced by the move command. You might only access files that are located within the root folder:

[2012-09-19 11:33] ghost commented on #17
Currently no status information is being stored in the database by the job execution engine. We need an easy way to connect to the database and store new status entries (maybe by using the DAL layer).

[2012-09-19 11:35] ghost commented on #12
Please post a detailed list of information you would like to get. I'll add them to both [GET] /jobs/{username}/ and [GET] /datasink/{username}/profiles.

[2012-09-19 12:06] fetzig commented on #12
plugin_name, name, create- and modifytime should do it for the start.

[2012-09-19 12:33] ghost commented on #16
I tested this with the latest version and the BackMeUp REST layer's create backup method ([POST] /jobs/{username})  didn't trigger. Please take a look at the frontend logs to determine what's going wrong.

[2012-09-19 13:04] fetzig commented on #16
this issue has nothing to do with the web frontend...thus functionality shouldn't be tested via frontend.

...anyways seems like the issue has been solved. thx.

[2012-09-19 13:04] #16 closed, assigned to nobody

[2012-09-20 07:37] ghost commented on #11
The core now reads stored Status entries from the Database and returns them.
Note: Currently the job engine does not track the status of a backup job and therefore an empty list will be returned.

[2012-09-20 07:52] ghost commented on #13
Added the necessary implementation to the core and created stubs for the plugins which return (except for skydrive, dropbox & facebook) empty options.

[2012-09-20 07:52] ghost commented on #14
Implemented and tested on the development server.

[2012-09-20 07:52] #14 closed, assigned to nobody

[2012-09-20 11:00] ghost commented on #15
Changed PathParam to FormParam and deployed new version on dev server

[2012-09-20 11:00] #15 closed, assigned to nobody

[2012-09-20 13:56] fetzig opened #18 "creation of new backup job (with new user) fails"
Request:
method: POST

http://localhost:8080/datasources/test_04@fetzig.at/1/auth/post

data:

[code]

Response
http status: 400

[code]

[2012-09-20 14:28] ghost commented on #18
Cleaned keyserver database, restarted embedded server and tested with a Dummy to Dropbox backup (which adds new authinfos to the server)

[2012-09-20 14:28] #18 closed, assigned to nobody

[2012-09-20 15:33] fetzig opened #19 "questions regarding: REST call [GET] /jobs/{username}/{fileId}/details - Protokoll-Details"
no idea how to retrieve a "fileId". can't even get detailed info and/or status info of a certain backup job. please clarify.

in other words:
how do i get a list of all files of a backup job? have i missed something? maybe a short introduction ("howto retrieve a backup jobs (meta)data the rest way?") would help.

[2012-09-20 15:38] fetzig commented on #19
NOTE: using a just any "fileId" (an integer) returns "nothing" (not even an errror like: unkown fileId).

i.e.:
request:
[GET] /jobs/test_05@xxxx.xx/23/details

response (body):

[code]

[2012-09-21 06:27] ghost commented on #19
This is an unimplemented feature. I've sent you the presentation which describes the basic idea behind the REST API (and the former Mockups).

The workflow would be as follows:
- Get the actual protocol (/jobs/{username}/status); it contains a list of newly backed up files + fileId.
- When you click on a file, query its details (/jobs/{username}/{fileId})

A list of unimplemented features will be

[2012-09-25 15:03] keros opened #20 "/datasinks/{username}/profiles/{profileId}/{jobId}"
Is now implemented

[2012-09-25 15:04] keros opened #21 "/datasources/{username}/profiles/{profileId}/{jobId}"
Is now implemented

[2012-09-25 15:04] keros opened #22 "/actions/{actionId}/options"
Is now implemented

[2012-09-26 09:55] keros opened #23 "Remove URL.encode from keyserver client"
URI registerUri = new URI(scheme, host, path, null);
makes also an encode. So the URI gets double encoded.

Warning: This destroys all current users!

[2012-09-26 13:27] #21 closed, assigned to nobody

[2012-09-26 13:27] #22 closed, assigned to nobody

[2012-09-26 13:27] #20 closed, assigned to nobody

[2012-09-26 15:45] keros opened #24 "Removing of temp files after job execution"
Currently the temp files are located at "/data/backmeup-prototype/org.backmeup.embedded/job-{millisecs}".
There is no cleanup function for this files

[2012-09-27 09:21] ghost commented on #4
E-Mail-Utility is now available:

Use POST /mails/send/text
Params: {"subject" : "Hi", "to" : "jamesbond@somewhere.org", "message" : "This is a secret message"}
to send plain text messages and POST /mails/send/html
Params: {"subject" : "Hi", "to" : "jamesbond@somewhere.org", "message" : "<html><body>This is a secret message..."} to send html messages.

Also added python integration tests

[2012-09-27 09:21] #4 closed, assigned to nobody

[2012-09-27 15:58] keros opened #25 "File Handling for Action Plugins"
The filehandling for the action plugins is not consistent.

DataObject.getPath () returns something like "/jib-xxxxxxxxx/dir1/dir2/file1"
Storage.removeFile (path) trys to delete "/jib-xxxxxxxxx/jib-xxxxxxxxx/dir1/dir2/file1"

[2012-09-28 11:59] WolfgangEibner opened #26 "Alter PUT /users/{username} to allow changing username"
It should be also possible to change the username via this function. Also the description is not fully correct in plone (copy&paste error).

[2012-09-28 12:08] WolfgangEibner opened #27 "Give back user which was verified to UI"
After a user was successfully verified the username should be available to the UI for displaying it and for automatically filling it in in the login form.

[2012-09-28 12:12] WolfgangEibner opened #28 "Template for verification email"
Verification email should be changeable by a template.

[2012-09-28 13:06] WolfgangEibner commented on #27
Duplicate of issue #8.

[2012-09-28 13:06] #27 closed, assigned to nobody

[2012-10-01 10:27] ghost opened #29 "Dropbox-Plugin cannot read more than 100 files per directory"
Adjust the size of the metadata call (increase to e.g. 100k) to prevent this error

[2012-10-01 10:29] ghost opened #30 "Template for E-Mail-Plugin"
Similar to #28, we need a customizable HTML template for the E-Mail-Plugin

[2012-10-01 10:31] ghost opened #31 "Apache Tomcat integration"
Test the maven targets for deployment of the core on the Apache Tomcat server

[2012-10-01 10:57] ghost opened #32 "Test the e-mail-plugin with embedded images"
The e-mail-plugin must be tested with mails that embed resources (e.g. images). The current implementation should be able to download the embedded resources, but the stored e-mails might not link them correctly.

[2012-10-01 12:29] #10 closed, assigned to rsimon

[2012-10-02 06:36] ghost commented on #8
Changed response code to 200 and added username to result data.

[2012-10-02 06:36] #8 closed, assigned to nobody

[2012-10-02 06:49] ghost commented on #29
The metadata calls now use 25k for the file limit allowing a maximal amount of 25000 files per directory (maximum of the dropbox-api)

[2012-10-02 06:49] #29 closed, assigned to nobody

[2012-10-02 07:37] ghost commented on #26
- The core is now capable of changing the username:
  PUT /users/{oldUsername} Parameters {"username" : "MyNewUsername", "oldPassword" : "YourOIdPassword", "password" : "YourNewPassword", "email" : "YourNewEmail" }
- Removed unnecessary "keyRing" parameter.
- Updated plone and fixed copy & paste error.
- Updated and tested changes with python-tests.

[2012-10-02 07:37] #26 closed, assigned to nobody

[2012-10-02 08:30] ghost commented on #28
The verification email can be adjusted within the resource bundles of the business logic layer (BusinessLogicImpl_de.properties and BusinessLogicImpl_en.properties)

[2012-10-02 08:30] #28 closed, assigned to nobody

[2012-10-02 13:57] fetzig opened #33 "facebook authentication fail"
when trying to create a "facebook datasource profile" via web ui the redirect url from facebook back to backmeup looks like this:

[code]

but should be:

[code]

short: need oath/access token and other access params as URL GET param(s)

[2012-10-02 14:28] fetzig opened #34 "twitter authentication fail"
get following error via rest api when trying to create a "twitter datasource profile":

request:

[code]

response:

[code]

[2012-10-02 16:09] fetzig opened #35 "dropbox and moodle plugin/profile options fail"
tried to (finally) implement profile options to the web ui. when requesting the options of a profile/datasource the rest api responds with an error.

profile is dropbox. same/similar error with moodle. seems to work with facebook.

post request:

[code]

response:

[code]

[2012-10-03 10:25] bdf-net opened #36 "Dropbox access tokens limitation"
When trying to create a dropbox-backup I get the message "Only a limited set of users can receive access tokens while this app is in development mode".

Is it possible to grant access for another user?
Otherwise we would have to delete the account of fetzig and create a shared test-account.

[2012-10-03 11:08] WolfgangEibner commented on #36
I think this limitation only exists as long as our application is not registered at dropbox. And I think it is something like "Only 5 accounts in a hour" or so. There was something in the last meeting about this. Fabian?

[2012-10-03 11:21] keros commented on #35
I have now tested it.
Moodle and Facebook plugins work fine.

Dropbox works for my account but not for fetzigs account.
There is some Problem with the implementation of the function in the dropbox Blugin

[2012-10-03 11:25] keros commented on #36
If backmeup is not registered @ dropbox only 5 accounts can be connected to backmeup.
But you can use my account "ft@x-net.at", "Test1234!".
I have only used it for testing.

[2012-10-03 12:02] fetzig commented on #35
please assign the ticket to yourself if you work on it. thx.

[2012-10-03 12:54] bdf-net commented on #36
thanks a lot, this will work for now!

[2012-10-03 12:54] #36 closed, assigned to nobody

[2012-10-03 13:52] fetzig commented on #35
fyi: dropbox doesn't work with a newly created user as well.

[2012-10-03 15:32] keros commented on #35
thx for the info. I think fschoeppl will fix his Plugin, thats why I have not reasigned it to myself

[2012-10-03 15:34] keros commented on #25
DataObject.getPath () returns now "/dir1/dir2/file".
Issue is fixed

[2012-10-03 15:34] #25 closed, assigned to nobody

[2012-10-04 10:54] #23 closed, assigned to nobody

[2012-10-04 11:07] keros commented on #23
Problem is now fixed.
If the old password has no special chars there is no problem.
If there are special chars in the password you have to URLencode them (Test1234! -> Test1234%21) to be able to login.
New users have no Problem

[2012-10-04 11:10] #13 closed, assigned to nobody

[2012-10-04 13:39] mmurauer commented on #33
the redirect url is not created from our plugin but from the facebook-api.
for more info follow this link: https://developers.facebook.com/docs/reference/dialogs/oauth/

[2012-10-04 13:41] mmurauer commented on #34
plugin-name should be org.backmeup.twitter instead of org.backmeup.twitterx

[2012-10-04 13:48] fetzig commented on #33
according to my log the backmeup rest api responds a redirect url with looks like this:

[code]

but should respond a redirect url like this:

[code]

(sorry to dissapoint but this seems to be no bug in the facebook-api)

[2012-10-04 13:56] fetzig commented on #34
according to the rest api's response there is the twitterx plugin but no twitter plugin:

get request: /datasources

[code]

this might be a "build error" or "implementation bug".

[2012-10-04 14:06] mmurauer commented on #34
found the mistake and uploaded the correct version

[2012-10-04 14:10] mmurauer commented on #33
if we change the redirect url to "response_type=code" we need an additional request to the facebook-api to exchange the received code for a access token:
https://graph.facebook.com/oauth/access_token?
client_id=YOUR_APP_ID
&redirect_uri=YOUR_REDIRECT_URI
&client_secret=YOUR_APP_SECRET
&code=CODE_GENERATED_BY_FACEBOOK

I don't know if the plugin-api is designed for this?

[2012-10-04 14:39] fetzig commented on #33
don't know anything about the plugin-api or the facebook-api (just checked that "response_type=code" would be a possible solution).

as the issue describes i need http url/get params (like when using the dropbox plugin).

[2012-10-04 15:22] keros opened #37 "Logs from keyserver"
I have implemented the passthrough for the user keyserver logs.

Currently they are located in the "users" rest interface. Maybe we should create an extra log interface.

http://bmu-dev01:8080/users/{username}/keysrvlogs
returns a List of "message" and "date" fields.
Described in plone.

More information is possible (the keyserver delivers more). But I think more would be to technical for the user

[2012-10-05 12:14] ghost commented on #33
This seems to be related to the facebook-plugin's authentication implementation: Try to encode the redirect URL with URLEncoder.encode(redirectUrl)
But I am not sure if that's the actual problem; further investigations will take place next week

[2012-10-05 12:14] ghost commented on #34
Is this issue still relevant? Otherwise we can close it.

[2012-10-05 12:18] ghost commented on #33
fetzig stated that we might change to response_type=code to get a "?" instead of a "#" within the callback of facebook. Michaela, is this a suitable solution for the authentication mechanism?

[2012-10-05 12:22] fetzig commented on #34
wont close it until the bug is fixed on the server...thats not the case yet.

[2012-10-05 12:38] fetzig commented on #33
auth request fb plugin looks like this:

[code]

response is:

[code]

type: OAuth...like the dropbox plugin. but thats not the case (missing get params in the redirect). so we have 2 possibilities (at least as far as i understand):
- changing the type to something else and documenting how the rest api client should deal with this new type. which needs a new implementation on the frontend side.
-

[2012-10-05 13:25] fetzig opened #38 "moodle -> dropbox backup isn't saved in subfolder"
- test from web ui by creating a backup: moodle (all options checked) -> dropbox .
- backup (seems) to work but files aren't packed in one "job" folder.

dropbox folder after backup:

[code]

[2012-10-05 15:25] fetzig commented on #12
reminder...

[GET] /jobs/{username}/
- plugin_name, i.e. "org.backmeup.facebook" or "facebook"
- job title
- createtime
- modifytime
- current status (pending, queued, in progress, done,....???)

[GET] /datasink/{username}/profiles
and
[GET] /datasource/{username}/profiles
- plugin_name, i.e. "org.backmeup.facebook" or "facebook"
- createtime
- modifytime

[2012-10-08 06:46] #37 closed, assigned to keros

[2012-10-08 07:29] keros commented on #38
This is an side effect of the new sorage system in the core.
The Plugin have now to create its own subfolder.
The subfolder name is provided in the properties that where send to the plugin ("org.backmeup.tmpdir").

[2012-10-08 09:37] #38 closed, assigned to keros

[2012-10-08 12:13] fetzig commented on #34
still not deployed.

[2012-10-08 15:23] keros commented on #12
[Post] "/jobs/{username}" takes now an extra value (jobTitle) if an job gets created. Details in plone.
[Get] "/jobs/{username}" returns now more Information

[2012-10-08 15:31] fetzig commented on #12
never (intentionally) requested it, but job title seems way more useful than "datasource/sink profile title". so +1 on that.

will check the changes and send feedback or close the issue.

thx.

[2012-10-08 15:34] keros commented on #12
its not fixed yet
"[GET] /datasink/{username}/profiles" and "[GET] /datasource/{username}/profiles" enhancement are missing

[2012-10-09 09:40] keros commented on #12
I have rebuild the core.
Job and source/sink return now more Informations.
To get a full List four rest calls are needed.
1: Get jobs -> returns all job Informations
2/3: Get Source/Sink -> returns alls Source/Sink Informations
4: Get Status (The job itself has no current Status.)

[2012-10-09 11:21] #9 closed, assigned to keros

[2012-10-09 11:50] ghost commented on #30
Implemented and tested with my local setup

[2012-10-09 11:50] #30 closed, assigned to nobody

[2012-10-09 11:59] ghost commented on #11
Successfully tested via REST on the dev server:

[code]

[2012-10-09 11:59] #11 closed, assigned to nobody

[2012-10-09 12:37] #7 closed, assigned to keros

[2012-10-09 12:48] fetzig opened #39 "[GET] /jobs/username/status"
returns:

[code]

missing properties:
- backup job id: there is no chance to associate the log entry with a backup job
- category: the log entry should be associated with a category.
  - "started": started job
  - "downloading": downloading from source(s)
  - "uploading": uploading to skin
  - "finished": finished

[2012-10-09 15:47] fetzig opened #40 "[DELETE] /jobs/username/147"
can't delete certain jobs.

return is http 500

job_ids  147, 149

[2012-10-10 07:46] keros commented on #34
new twitter plugin is now deployed

[2012-10-10 07:58] fjungwirth commented on #34
seems to work now, just did a backup from twitter to dropbox

[2012-10-10 08:47] #40 closed, assigned to rsimon

[2012-10-10 10:15] #34 closed, assigned to fjungwirth

[2012-10-10 10:34] fjungwirth commented on #33
authentication works now and the backup starts.
parts of the job work well, but an error occured while downloading Users.
We will fix that asap

[2012-10-10 11:00] rsimon commented on #39
List of files is now implemented & no longer empty

[2012-10-10 13:09] #24 closed, assigned to keros

[2012-10-10 14:47] ghost opened #41 "GET /jobs/{username}/status/overview?duration=month|week"
This rest call returns an overview of a users activities (overview).
Currently I am able to return following data:

[code]

Comments welcome!

[2012-10-10 15:03] ghost commented on #41
FYI: To get this running, you have to change `org.backmeup.embedded/src/main/resources/META-INF/persistence.xml` as follows:

[code]

Additionally the database scheme has to updated / recreated.

[2012-10-10 15:09] fetzig opened #42 "needed properties/changes in rest api response"
NOTE: this is a draft request from the "frontend dev" which has very little to no knowledge of the inner workings of backmeup. so feel free to send feedback if there is a different approach from the "backmeup core perspective" that could save us time or nerves (now or in the future).
### /jobs/{username}/{jobId}/status
- filter of log: filter log not by time but return log of last created backup o

[2012-10-10 15:27] fetzig opened #43 "search not working: [POST] /backups/{username}/search"
attempt to get a search id failed:

[code]

please clarify if search feature:
- isn't finished yet
- this is a bug
- docu is deprecated and i'm doing something wrong

[2012-10-10 16:02] ghost commented on #41
dev01 is now running this feature, feel free to comment

[2012-10-10 16:03] ghost commented on #43
Core updated and successfully tested via REST

[2012-10-10 16:05] rsimon commented on #43
Just verified that this works on dev01, with username=TestUser

[code]

requires a _keyRing_ and a _query_ parameter. Another cause may be that the username doesn't exist in the DB. (I tried this as well, and it returns exactly the response you describe.)

[2012-10-10 16:48] fetzig commented on #43
cause is: docu is deprecated and i'm doing something wrong

so please update the docs

[2012-10-11 12:50] fetzig opened #44 "change of username/email doesn't trigger "email verification""
change of email adress of existing user doesn't trigger "email verification process".

[2012-10-11 14:32] fetzig opened #45 "how to set actions (+ action options) when creating a job?"
[POST] /jobs/{username}

who to set multiple actions, and how to set action options when creating a backupjob?

example in docs sets one action only (no options):

[code]

[2012-10-11 14:38] WolfgangEibner commented on #43
docu on plone updated (as far as I see)

[2012-10-11 14:46] WolfgangEibner commented on #12
Klemens: Does this fulfill your needs?

[2012-10-11 14:46] #43 closed, assigned to nobody

[2012-10-11 14:46] WolfgangEibner commented on #39
Fixed in terms of #39. Maybe modifications needed according to #42.

[2012-10-11 14:59] fetzig commented on #12
this issue is deprecated anyways. so i'm closing this now.

[2012-10-11 14:59] #12 closed, assigned to keros

[2012-10-11 15:00] fetzig commented on #42
still waiting for (complete) feedback to this issue (as requested via email). thx.

[2012-10-12 07:50] #44 closed, assigned to keros

[2012-10-12 12:16] rsimon commented on #42
The above three additions are now live on dev01 and dev02.

[2012-10-15 07:05] ghost commented on #17
/jobs/{username}/status/overview has been implemented as described in #41;
/jobs/{username}/status will be implemented as described in #42

[2012-10-15 07:05] #17 closed, assigned to nobody

[2012-10-15 09:50] ghost commented on #42
Updated /jobs/{username}[/{jobId}]/status:
Call doesn't need datefrom / dateto anymore:

GET /{username}/status
=> Returns the latest status of the latest executed job

GET /{username}/{jobId}/status
=> Returns the latest status of the given job

Data returned + Description:

[code]

[2012-10-15 11:30] ghost commented on #19
Implemented as follows:

[code]

Returns following data:

[code]

As described above, you may get fileIds by calling /jobs/{username}/status

[2012-10-15 11:36] ghost commented on #19
deployed and tested via REST on dev01

[2012-10-15 11:37] ghost commented on #42
Implementation of #19 and #42 deployed and tested via REST on dev01

[2012-10-15 11:48] ghost commented on #35
Dropbox-Error: This is related to the fact, that the tokens for user fetzig_10 are invalid.

Therefore the core / plugin needs to throw a special Exception that indicates such authorization errors.

Workaround should be: Recreate the dropbox-profile

[2012-10-15 14:01] ghost commented on #45
Not yet designed/implemented; I'll drop you the REST calls + data returned after I designed and implemented it

[2012-10-15 14:10] ghost commented on #45
To set more requiredActions, pass in form parameters encoded with following format:

requiredActions=org.backmeup.rsa&requiredActions=org.backmeup.indexer&requiredActions=org.backmeup.anotherAction

ActionOptions cannot be changed yet.

[2012-10-16 06:44] ghost commented on #45
Available action options can be retrieved as follows:

[code]

returns:

[code]

Change action options of certain action and job:

[code]

Get stored action options of a certain action and job:

[code]

returns:

[code]

[2012-10-16 07:43] ghost commented on #45
deployed and tested (via REST) on dev02 and dev01

[2012-10-16 07:51] ghost commented on #42
Added a call to get the currently stored datasource options:

[code]

returns:

[code]

all commited features are deployed on dev01 and dev02

[2012-10-16 13:20] fetzig commented on #45
thx. please update the rest api docu.

[2012-10-16 13:46] ghost commented on #45
ok, I just added the things described here to the rest docu

[2012-10-16 14:34] fetzig opened #46 "improve /datasources/{username}/{datasourceId}/auth"
in case of a datasource with the authentication "type":  "Input".

make sure key-value pairs in the "typeMapping" object are in a "useful" order:

IS:

[code]

SHOULD (i.e.):

[code]

and document all "types" (string, number, bool,...?) in the docs.

[2012-10-16 15:07] fetzig opened #47 "improve /datasources/{username}/{datasourceId}/auth 2"
"meta info" is way to little.

IS:

[code]

troubles on frontend side:
- order (see issue #46)
- additional info/helptext (how to add one, when to add one)
- requiredInputs shouldn't be an extra array, rather pack everything in an object.

SHOULD (i.e.):

[code]

[2012-10-22 08:17] WolfgangEibner opened #48 "ZIP Download"
Implement ZIP Download

Should be clarified:
- path where to store zip files
- access from frontend to zip files
- delete old zip files after an specific amount of time (cron job)

[2012-10-22 13:37] ghost opened #49 "BackUpSearch tests on dev01"
Hi!

I've just tested the search api with the user test_01@fetzig.at. The result was an empty search answer, just as you explained today.
After that I ran a new job (DummyTest.py) by executing following commands:

[code]

And searched again (TestSearch.py):

[code]

You will get this response if you use the user and calls shown above.

[2012-10-22 14:51] ghost commented on #48
Note: The zip plugin doesn't need any input parameters. The list of required inputs will therefore be empty.
In general: The frontend should skip to the next web page, if a plugin doesn't need any inputs (a call to postAuth can be omitted in these cases)

[2012-10-23 08:31] ghost commented on #48
ZIP-Plugin is now deployed on dev02, copying the zip files to /tmp/backups/{userId}/{backupfilename}-{timestamp}.zip

@WolfgangEibner / @fetzig: Please specify the destination folder for the frontend on dev01 - I'll use the same as on dev02 for now.

@keros: I would also like to test the sftp feature. Please provide a ssh certificate + correct paths to copy to.
To do this, we have to configure the

[2012-10-23 08:53] ghost commented on #48
Deployed and tested local zip file creation on dev01.

[2012-10-23 11:32] keros commented on #48
You can use the "/root/.ssh/id_rsa" key file on the server.
The server can now ssh to itself with this keyfile.

Place the files on "/data/backmeup-frontend-backupfiles" or something like this.
Don't forget to change the "remote.host" to "localhost".

[2012-10-23 12:16] ghost commented on #48
Ok, I just tested this on dev01.
Files will be placed via sftp on localhost /data/backmeup-frontend-backupfiles/{userId} after a zip backup job finished.

[2012-10-23 12:58] ghost commented on #48
ZIP-Plugin working as follows:
- All files given by the Storage instance will be zipped to a temporary location
- If "isRemote" has been set to true, the temporary zip file will be copied via sftp to a remote directory.

dev01 settings:
ZIP-Backups will be copied to /data/backmeup-frontend-backupfiles/{userId} as proposed by keros.

Remaining steps:
- Display backup files within frontend.
- Implem

[2012-10-23 13:00] ghost commented on #42
/jobs/{username}/{jobId}/status and /jobs/{username}/status now return the full logs of the latest job execution.

[2012-10-24 13:44] WolfgangEibner opened #50 "FileSplitter: Split files according to maxFileSize from data sink"
maxFileSize should be included in properties given to the FileSplitter. Filesplitter should use this property for splitting the containers.

[2012-10-24 13:45] WolfgangEibner opened #51 "Use user password for encryption"
User (defined) password should be used for encrypting containers.

[2012-10-24 13:47] WolfgangEibner opened #52 "Create image thumbnails and make them available to UI"
Indexer should create thumbnails and make them available to the UI in/after search.

[2012-10-24 13:48] WolfgangEibner opened #53 "Index: use user-id instead of username for indexing"
use user-id because username can change over time

[2012-10-24 13:53] WolfgangEibner commented on #53
Should be fixed in e2454cddaa8ca0dcfc065cb83f7bc400d506dd63.

[2012-10-24 13:53] #53 closed, assigned to rsimon

[2012-10-24 13:56] WolfgangEibner opened #54 "Index: delete index if user is deleted"
Delete index of a user if the whole user is deleted.

[2012-10-24 13:57] WolfgangEibner commented on #54
Basic work done in 91ed9356517786fb563b47ecf89101889eb814d4. Should be called at user deletion.

[2012-10-24 14:02] WolfgangEibner opened #55 "Index: Deactivate and maybe delete index in UI/REST"
User should be able to deactivate indexing in UI. If indexing is deactivated no job for this user should do indexing action (also no existing periodical job).
After indexing is deactivated in UI, it should ask, if the user want's to delete his existing index. If so, the necessary actions should be triggered by a REST call.

So we need a REST call to activate/deactivate indexing for a user. This is

[2012-10-24 14:05] WolfgangEibner opened #56 "Scheduler: Periodcally schedul jobs"
- Reschedule periodical jobs after executing them
- Should periodical jobs get scheduled until they are deleted or do we have same active/inactive flag?
- Should we stop rescheduling a job if it has an error? If so, how can the user continue the job?

[2012-10-24 14:06] WolfgangEibner commented on #56
Rescheduling should be done in f8c704cc3a8435cea9a451ebe074f5ddc4208ad3.

[2012-10-24 14:07] WolfgangEibner opened #57 "Scheduler: pass properties/options to plugins"
Scheduler has to pass the properties of date sources and data sinks to the plugins.

[2012-10-24 14:09] WolfgangEibner opened #58 "Scheduler: activate FileSplitter if necessary"
Scheduler should activate FileSplitter if
- encryption is enabled and
- data sink has a limited file size

So, FileSplitter is not activated by user decision. Instead its usage should be determined automatically.

[2012-10-24 14:10] WolfgangEibner opened #59 "Performance tests"
Do some performance tests, especially for the REST interface and for parallel job running.

[2012-10-24 14:16] WolfgangEibner opened #60 "JobStatus"
Implement JobStatus according to last meeting:
- Only return and save log of last backup for each job
- Include job status for each job in job listing

[2012-10-24 14:18] WolfgangEibner commented on #60
Fix committed in e2c94f43ab775b75d2f791486cc1f6e87c9fbc42?

[2012-10-24 14:20] WolfgangEibner opened #61 "E-Mail notification after job failure"
If a backup job fails an email should be sent to inform the user.

[2012-10-24 14:23] rsimon commented on #58
Q: how do I find out whether the sink has a limited filesize? And which properties do I need to set to tell the FileSplitAction the chunck size?

[2012-10-24 14:24] rsimon commented on #56
Yes - rescheduling happens; are currently re-scheduled until deleted by the user.

[2012-10-24 14:34] WolfgangEibner commented on #56
We should discuss the two remaining points at the next meeting.

[2012-10-24 14:35] WolfgangEibner opened #62 "Better error messages / fine grained error types from plugins"
E.g. to distinguish an authentication from an download error.

[2012-10-24 14:37] WolfgangEibner opened #63 "Index: Delete one backup from index"
User should be able to delete one specific backup from index. E.g. Facebook-DVD-Backup from 20121001 because the DVD was lost.

[2012-10-24 14:37] WolfgangEibner opened #64 "Enhance REST interface for action plugin options"
Enhance REST interface for action plugin options to be more flexible. E.g. like in #47.

[2012-10-24 14:43] WolfgangEibner opened #65 "Save user identification from datasources/-sinks"
Save user identification (e.g. facebook username, dropbox login name) at authentication of datasource/-sink and return it to UI when retrieving job details. So UI can display which Facebook profile is used at a certain job.

[2012-10-24 14:45] keros commented on #58
Little change.
The filesplitter must always run if the encryption plugin is enabled. Else the paths for the indexer will not be correct.

The property should be "org.backmeup.filesplitting.maxcontainersize".

The sinks should set an max filesize property "org.backmeup.{plugin}.maxfilesize".
If none is set just set "org.backmeup.filesplitting.maxcontainersize" to "-1". Then I simply create an conta

[2012-10-24 14:47] WolfgangEibner opened #66 "MoodlePlugin: authentication error"
An authentication error in moodle plugin doesn't result in an appropriate message. Should be examined if it is a plugin, backend or UI error.

[2012-10-24 14:49] WolfgangEibner opened #67 "Moodle, Twitter, Facebook-Plugin: consider configured plugin options"
The mentioned plugins should consider the currently configured options. E.g. if photos should be downloaded.

[2012-10-24 15:10] keros commented on #51
Error from my side. The plugin already uses the password property.
It was just my first test code that sets the password static

[2012-10-24 15:10] #51 closed, assigned to keros

[2012-10-25 08:18] rsimon commented on #58
Ok, that simplifies things :-)... BUT:

<The sinks should set an max filesize property "org.backmeup.{plugin}.maxfilesize".>

Is {plugin} the same String as delivered in "sinkprofile.description"? If so, I can filter out this property. But just as a remark: that means _every_ plugin uses a different property to set the limit. IMO we should just use something like

"org.backmeup.sink.maxfilesize"

[2012-10-25 08:22] keros commented on #58
That was only my first idea.

"org.backmeup.sink.maxfilesize" would be the better way.

[2012-10-25 08:24] rsimon commented on #58
+1

BTW: just committed a change to the BackupJobRunner. Filesplit will now be triggered when Encryption is selected (and Thumbnail rendering when indexing is selected). All source/sink properties should now be correctly handed to the action plugins!

[2012-10-25 09:05] keros commented on #47
I just creating an new Object for this.
String label;
String description;
boolean required;
int order;
Type type;

How should we translate the "description" (helptext) filed?
Should we maybe force the plugin writer to deliver an translation?

[2012-10-25 12:09] fetzig opened #68 "wrong errorMessage for [GET] /users/{verificationKey}/verifyEmail"
requesting

[code]

which is obviously invalid (asdf is no existing verificationKey)

returns a error - so far so good. but the errorMessage has (still) "dynamic" content in it.

[code]

please change the message to something like "Failed to verify key" or "Failed to verify email".

[2012-10-25 12:46] keros commented on #47
Should also solve #46
Tested on dev02.
Note that "typeMapping" is now useless and returns a empty list.
I remove it in the next commits.

Mail Plugin for example now returns:

[code]

[2012-10-29 07:31] ghost commented on #60
Yes, the fix has been committed in e2c94f43ab775b75d2f791486cc1f6e87c9fbc42

[2012-10-29 07:43] keros commented on #47
Recompiled code on dev01. Is now live. Docu updated

[2012-10-29 16:52] fetzig commented on #47
- changes are not as requested and misleading -> wrong
- requiredInputs??? there is a required param in it.
- the actual name of the parameter is missing (which would be there if done as anticipated)
- far to little documentation
  - typeMapping???
  - type: bool -> how should that look like when the auth/post request is done
  - type -> what possible types do exist and what are the implications

[2012-10-29 16:53] #46 closed, assigned to nobody

[2012-10-30 07:52] keros commented on #47
- requiredInputs??? there is a required param in it.
  I rename the List in the next commits to "fields".
- the actual name of the parameter is missing (which would be there if done as anticipat
  There is no difference between the "name" and the "label" of the input field. So I have not added an extra variable for this.
- far to little documentation
  - typeMapping???

As already said above this

[2012-10-30 08:12] fjungwirth commented on #66
The plugin provides a validate() method, which gives detailed information about an authentification error.
But there is also a isValid() method, which returns wether true or false. I'm not sure which method is used by the rest api

[2012-10-30 08:38] keros commented on #47
Updated Core on dev01.
Updated documentation on Plone.

[2012-10-30 08:45] ghost commented on #65
The postAuthorize-method of the Authorizable interface now returns the User ID of the authorized account:

`public String postAuthorize(Properties inputProperties);`

I've updated all plugins to return at least null. The dropbox, skydrive and mail plugin already return the username.
Please upgrade the other plugins (Discmailing, Facebook, Moodle and Twitter) and report the changes here.

REST API

[2012-10-30 08:54] ghost commented on #66
Use Case of the isValid()-method:
1. Core's preAuthentication method returns the required input fields (e.g. username + password)
2. User enters username + password
3. Core gets called with username + password as argument, which will be passed to the isValid-method of your validator.
4.1. If the username + password are ok (isValid returns true), the postAuth-method of your plugin will be called an

[2012-10-30 09:26] ghost commented on #67
The downloadAll method now receives a List<String> of selected options. If this list is not empty, the user selected certain data he wants to download.

[2012-10-30 15:15] ghost opened #69 "Running 10 moodle backup jobs parallel results in different exceptions"
Following errors occurred during the run of 10 parallel backup jobs (in sum 200 Jobs).

You might reproduce this by running the script "python-tests/ParallelJobMoodleZip.py" in your backmeup setup.

[code]

Visiting the website resulted in following error page:

[code]

The following error occurred aswell:

[code]

I guess the network connection to the moodle server crashes / drops at some point;

[2012-10-30 15:19] ghost commented on #59
The ParallelJobs.py script creates 100 threads, each starting 2 DummyToDummy backup jobs (=200 Jobs).
To test MoodleToZip-File use the ParallelJobsMoodleZip.py script.

To get help about the usage of the script, run following code:

[code]

[2012-10-30 15:56] fetzig commented on #47
true, they have been ther for some time now. but still no info, or even docs describing how to handle them.

[2012-10-30 16:07] fetzig commented on #47
true, but i never got those infos. just because its in the backmeup-prototype code doesn't mean it's documented...please make sure this is in the documentation. thx.

and don't miss the fact that the rest api sends how to label the input field for the user but have no idea what the name (or key) of the value is when making the .../auth/post request. i mention it again because you have commented on

[2012-10-30 17:32] fetzig opened #70 "can't create datasource profile"
can be reproduced on dev01. tried with existing user, and newly created one.

seems to be pretty much the same error for
- facebook
- twitter
- moodle
- dropbox
  ...so i guess it has nothing to do with the plugins

[code]

[2012-10-30 17:37] fetzig commented on #70
to make sure i send the requests again manually instead of using the web ui -> same errors

[2012-10-31 08:01] ghost commented on #70
I've just updated dev01. You are now able to create source profiles / sink profiles and backup jobs again.
Note: The changes from #65 are now online

[2012-10-31 08:31] ghost opened #71 "Thumbnail Action throws FileNotFoundException when processing the file /theme/backmeup.css"
I just ran following script on dev02, running a moodle to zip job:

[code]

Watching the embedded resulted in following output:

[code]

The backup job failed after the FileNotFoundException.

[2012-10-31 09:46] WolfgangEibner commented on #47
Return-type for Bool is "true" or "false"

[2012-10-31 11:27] WolfgangEibner commented on #65
We will update Discmailing plugin asap...

[2012-10-31 11:43] fjungwirth commented on #69
The server-side moodle plugin now creats for each request an unique backup-folder so there should not be any overlaps anymore.
Folder is now username_timestamp + ongoing id, if there are more than one request per secend per user

[2012-10-31 11:45] #33 closed, assigned to fjungwirth

[2012-10-31 11:49] fjungwirth commented on #67
Twitter and Facebook plugins already consider options, Moodle will follow next week

[2012-10-31 12:15] #57 closed, assigned to rsimon

[2012-10-31 12:15] #54 closed, assigned to rsimon

[2012-10-31 12:16] #71 closed, assigned to nobody

[2012-10-31 13:26] WolfgangEibner commented on #66
Validation should be automatically done at job creation/saving to save extra UI->Core calls.

[2012-10-31 14:05] WolfgangEibner opened #72 "MoodlePlugin: Throw PluginException if error occurs"
Comment by Fabian:

Currently errors/exceptions are logged and ignored. They should be rethrown to core as PluginException.

Please also check other plugins for that issue.

[2012-10-31 14:18] keros commented on #47
Updated Docu on Plone

[2012-10-31 14:20] WolfgangEibner commented on #56
According to today's meeting:
- Stop rescheduling a job if it gets deleted
- Introduce an onHold flag to (de-)activate a job, including according changes in REST API (onHold status, feature to put job onHold or reactivate it)
- Put a job onHold after it ended with an error
- UI should also offer a possibility to deactivate/reactivate (pause/continue) a job

[2012-10-31 14:39] WolfgangEibner commented on #61
Failing BackupJob sends email as expected.

[2012-10-31 15:04] fetzig commented on #49
please try to do this with REAL account and REAL plugins.

dummy -> dummy works...for sure.

but i still get NO data when making i.e. a backup from twitter to dropbox.

[2012-11-05 09:32] ghost opened #73 "Index-Action fails with an ActionException (BackupJobRunner)"
I've just ran one Moodle-to-Zip-Job which resulted in following error during the execution of the Indexer:

[code]

Despite this error, the job finishes as expected (ZIP file gets created and job finishes successfully).
You might reproduce this by running following command on bmu2:

[code]

[2012-11-05 09:33] ghost commented on #31
Has been tested successfully -> redeployment leads to memory leaks which are not part of this ticket.

[2012-11-05 09:33] #31 closed, assigned to nobody

[2012-11-05 09:42] #58 closed, assigned to rsimon

[2012-11-05 09:44] ghost commented on #41
Retested via REST on dev02 -> updated REST documentation

[2012-11-05 09:44] #41 closed, assigned to nobody

[2012-11-05 10:20] rsimon commented on #56
Committed fix: after a Job is deleted from the DB, it is no longer rescheduled

[2012-11-05 11:32] rsimon commented on #73
Hm... the cause is that the Indexer automatically recognizes the contents of the Moodle Plugin 'modified' field as date, but then is unable to parse it because it's not valid ISO format. Standard way to output "31.07.2011 00:24:24 CEST" would be

2012-07-31T00:24:24.962Z

[2012-11-05 14:41] fetzig opened #74 "wrong error message if user/email isn't activated yet"
errorMessage has "dynamic values" in it. see:

[code]

should look like this:

[code]

[2012-11-05 15:02] fetzig opened #75 "rest api: get rid of 204/no content response"
frontend ALWAYS needs response message. please add success messages to following requests:
- [DELETE] /users/{username}
- [PUT] /users/{username}
- [POST] /users/{username}/login
- [POST] /users/{username}/properties/{property}/{value}
- [DELETE] /users/{username}/properties/{property}
- [DELETE] /datasources/{username}/profiles/{datasourceProfileId}
- [PUT] /datasources/{username}/profiles/{profi

[2012-11-05 17:42] fetzig opened #76 "rest api: [GET] /jobs/{username} missing properties"
the two properties "lastBackup" and "nextBackup" in the response of /jobs/{username} are needed for every single backup job.

"global" nextBackup and lastBackup timestamps, as currently implemented, don't hurt but are currently not necessary (and where never requested...).

thx.

[2012-11-06 07:46] ghost commented on #19
Updated REST documentation and retested it on dev02 -> closing

[2012-11-06 07:46] #19 closed, assigned to nobody

[2012-11-06 07:51] ghost commented on #45
tested and documented -> closing

[2012-11-06 07:51] #45 closed, assigned to nobody

[2012-11-06 08:33] ghost commented on #49
I've just tested Twitter to Dropbox running:

[code]

After that I ran the search again (TestSearch.py) and got the data as expected:

[code]

[2012-11-06 08:34] ghost commented on #49
Make sure that you've added `org.backmeup.indexer` to the requiredActionIds before you create the job.

[2012-11-06 10:04] #49 closed, assigned to nobody

[2012-11-06 10:04] #60 closed, assigned to nobody

[2012-11-06 10:17] ghost commented on #69
tested by running 10 threads each queuing 10 jobs (total 100 jobs) => exception described above didn't occur anymore!

[2012-11-06 10:17] #69 closed, assigned to fjungwirth

[2012-11-06 11:57] fetzig opened #77 "list of messages"
need a list of messages (error, success, log,...) which need translation in the frontend.

if possible as po file (rest api messages -> msgid).

[2012-11-06 12:28] fetzig commented on #74
same with UnknownUserException:

[code]

[2012-11-06 14:38] fetzig opened #78 "search not working"
search works only with

[code]

or similar (i.e. "*: *")

and even with wildcard the results of a search seem incomplete...

[2012-11-06 14:38] #35 closed, assigned to nobody

[2012-11-06 14:39] #39 closed, assigned to keros

[2012-11-06 14:39] #42 closed, assigned to nobody

[2012-11-06 15:05] #47 closed, assigned to nobody

[2012-11-06 15:32] ghost commented on #78
Ok, I've just tested this with the user you described. Currently you need to put a "*" in front of the query and after it. I'll put this into the core, so you don't need to do that.

[2012-11-06 15:42] fetzig commented on #78
not true. doesn't work.

i.e.
- index.html is "indexed" when the backup is created (see backup job log).
- rest api search doesn't find any string from index.html

and as already mentioned:
- result when searching for "*" seems incomplete anyways
- searching for "*" shouldn't be possible

[2012-11-06 15:47] fetzig commented on #78
your last commit is most likely incomplete. depending on how the search should work:

when searching for "testing test" the search only finds items with "testing test". and not those with i.e. "testing" in it.

so instead of adding a wildcard at the beginning and end of the search-query. it should add the wildcard at begin and end of all words within the search-query.

[2012-11-06 15:54] ghost commented on #78
Yes, you are right.
You also pointed out, that some files are missing. This seems to be related to a bug within the IndexAction-Plugin (some files don't get indexed). I've just taken a look at the logfile. Yet again the parser error for invalid date formats:

[code]

This is the error described within #73

[2012-11-06 16:03] ghost commented on #78
To implement a basic version frontend version of the "backup search", simply use "_:_" as the query parameter for now.

[2012-11-07 07:01] #72 closed, assigned to fjungwirth

[2012-11-07 07:46] fjungwirth commented on #73
The Moodle Plugin now provides the modified field as an ISO 8601 date and looks like this: 2004-02-12T15:19:21+00:00

[2012-11-07 07:53] fjungwirth opened #79 "Can't create Moodle job"
Trying to create a Moodle job fails, even though I'm passing the correct login information.
I get the following message: "Some error occured."

[2012-11-07 08:38] fjungwirth commented on #67
Seems like the options don't get passed to the plugins, because no matter what is selected, the backup is always the same

[2012-11-07 11:38] rsimon commented on #78
#78 broke the build - the unit tests don't pass any more (there are three files named 'creative-commons.SOME-EXTENSION, and the test search "creative-commons" now returns 0 results).

Asterisks are the wrong way to handle this, as "infix" search is already supported (see unit test). What you are looking for is either an OR query:

testing OR test

or special handling on our side, so that each keyw

[2012-11-07 12:01] rsimon commented on #73
Ok - tested again and can confirm the exception is gone! Querying the index with

http://bmu-dev02.x:9200/_search?q=*:*Panorama*&pretty=true

Returned the image http://commons.wikimedia.org/wiki/File:Panorama_altmuehltal6.jpg, from "Backmeup Kurs #1", so this seems to work allright now.

[2012-11-07 13:51] WolfgangEibner commented on #67
I'm not sure, but I think Fabian said, that the core is passing the options to the plugins already. Bug in UI?

[2012-11-07 15:02] WolfgangEibner commented on #66
According to todays meeting validation is now done automatically.

[2012-11-07 15:15] WolfgangEibner commented on #74
#68 is also about a similar error.

[2012-11-07 15:23] WolfgangEibner commented on #79
Facebook job is also not possible (same error message).

Info from embedded.log:

[code]

[2012-11-07 15:34] WolfgangEibner opened #80 "More worker threads per consumer"
We need more worker threads per consumer to reduce osgi containers and memory usage.

[2012-11-08 09:47] keros commented on #50
Filesplitter works fine now. If no property "org.backmeup.filesplitting.maxcontainersize" is not set or if the value is "-1" then the maximum limit is set (1099511627776 Bytes = 1TiB).
Else the plugin uses the given container size from the plugin.

Currently there is no Sink Plugin that sets this setting.

[2012-11-08 10:23] keros commented on #48
Added cronjob to "bmu-dev01"

[code]

Files older than one day get now deleted

[2012-11-08 11:32] #50 closed, assigned to keros

[2012-11-08 12:40] #52 closed, assigned to rsimon

[2012-11-08 12:42] rsimon commented on #80
All worker threads in one JVM now share a single OSGi instance. I.e. the default 10 workers should now use much less memory. If desired, we can raise the number of workers. This is a config option in the "bl.properties": e.g.

message.queue.receivers = 30

[2012-11-08 12:42] #80 closed, assigned to rsimon

[2012-11-08 12:43] #73 closed, assigned to rsimon

[2012-11-08 13:08] WolfgangEibner commented on #48
Closing because only thing left is listing available downloads in UI. Created an extra issue for this (see above).

[2012-11-08 13:08] #48 closed, assigned to keros

[2012-11-08 13:16] WolfgangEibner commented on #79
@fetzig , @fjungwirth: Anything new on that?

[2012-11-08 13:27] keros opened #81 "encryption plugin not working"
The Encryption plugin does not work because the password is not delivered to it.
The "org.backmeup.encryption.password" property is missing.

[2012-11-08 14:19] WolfgangEibner commented on #81
Either we need an option for this action plugin or we simple use the user password (which is somehow not very flexible).

@fschoeppl : Should we discuss this at the next meeting, what is your opinion?

[2012-11-09 13:27] fetzig opened #82 "make search types a little less detailed...."
- splitting search result items into types is great.
- types beeing mimetypes is IMHO a little much...
- types beeing mimetypes + charset (like http's conenty-type) is definitely to much:

[code]

[2012-11-09 13:31] fetzig opened #83 "missing query in search result"
response of [GET] /backups/{ username }/{ searchId }/query should contain the search query as well.

i.e.:

[code]

[2012-11-09 15:06] fetzig opened #84 "rest api: inconsistent property types"
response of [GET] /jobs/{user}/{file_id}/details/ returns timeStamp as String instead of Number:

[code]

[2012-11-12 09:44] ghost commented on #66
Deployed and tested on dev01 & dev02

[2012-11-12 09:44] #66 closed, assigned to nobody

[2012-11-12 09:56] #65 closed, assigned to keros

[2012-11-12 10:58] rsimon commented on #84
Fixed and active on dev01 & dev02.

[2012-11-12 10:58] rsimon commented on #83
Fixed and active on dev01 & dev02

[2012-11-12 11:04] rsimon commented on #82
I reduced the 'resolution' to MIME-type only. The question is whether reducing further in the core wouldn't loose a bit too much information: it might be useful later on and/or for other frontend developers.

Also, it's quite easy to filter just the part before the '/' in the frontend, and then eg. group by:
- text
- image
- video
- audio
- message
- everything else

[2012-11-12 11:59] fetzig commented on #82
mime types are not very useful at the frontend and there is definitely more to do than stripping the second part. i.e.:
application/pdf, application/ogg.

frontend has no clue about what files/mime-types are indexed by the search. so definitely not a frontend task.

[2012-11-12 12:01] rsimon commented on #82
I don't know what exactly you expect the grouping to be like, other than "image", "text", "video", "audio", "anything else" - can you suggest the categorization vocabulary you would like to have in the UI?

[2012-11-12 12:18] ghost commented on #68
Tested on dev01

[2012-11-12 12:18] #68 closed, assigned to nobody

[2012-11-12 12:19] ghost commented on #74
Tested on dev01

[2012-11-12 12:19] #74 closed, assigned to nobody

[2012-11-12 12:50] fetzig commented on #82
mimetypes aren't useful.

looking at the concept: "image", "text", "video", "audio" and "other" maybe

[2012-11-12 15:02] ghost commented on #81
To pass in a org.backmeup.encryption.password we need to store it somewhere (e.g. keyserver). We are going to need two "new" features:
- The action plugins need to return a List<String> which have to be entered by the user
- These inputs must then be stored within the keyserver. Therefore we need to extend the core & keyserver.client to be able to store action specific data.
- Finally, when runnin

[2012-11-12 15:31] rsimon commented on #82
Now implemented like that & active on dev01 and dev02.

[2012-11-12 15:59] WolfgangEibner opened #85 "E-Mail Datasource: problem with SSL=true"
[code]

[2012-11-13 07:47] ghost commented on #75
deployed and tested on dev01

[2012-11-13 07:47] #75 closed, assigned to nobody

[2012-11-13 07:48] ghost commented on #76
deployed and tested on dev01

[2012-11-13 08:30] ghost commented on #85
This exception occurs, if the certificate of the SSL cannot be trusted (http://stackoverflow.com/questions/1201048/allowing-java-to-use-an-untrusted-certificate-for-ssl-https-connection/1201102#1201102).
As a workaround we could accept all certificates, but I am not sure if we really want to do that.

I've just backed up a gmail account which uses SSL and it worked just fine. The settings are the

[2012-11-13 08:32] fjungwirth commented on #79
I can start a Facebook and a Twitter job, but a new job is created every minute and i got about 60 notification mails that the job didn't work. I only stopped this by deleting the bmu dropbox app's access permissions on my dropbox

[2012-11-13 08:35] WolfgangEibner commented on #85
## My X-net account which indeed has an self signed certificate. ;)

Wolfgang Eibner
X-Net Services/Technologies GmbH
we@x-net.at
+43 732 / 77 31 42 - 28
+43 676 / 74 81 350

fschoeppl notifications@github.com schrieb:

[2012-11-13 08:35] keros commented on #85
I think he has tried to create an Backup from our Mailserver.
https://mail.x-net.at/

This Certificate is self signed.
I think we have to acept every certificate here. There are many mailservers out there with self signed certificates.
But this will open the door for man in the middle attacks :/

[2012-11-13 09:07] ghost commented on #70
Rested, works as expected now.

[2012-11-13 09:07] #70 closed, assigned to nobody

[2012-11-13 12:05] keros commented on #79
I have also tried to create an facebook to dropbox job but I get an Error Site

[code]

[2012-11-13 12:09] ghost commented on #79
I just tried to run a facebook job manually via REST, but it fails during POST-Authorization:

[code]

The call to http://graph.facedbook.com/oauth/accses_token returns BAD REQUEST 400.
You might reproduce this yourself by running the following script:

[code]

[2012-11-13 12:18] ghost commented on #79
Testing the script on dev02 results in following error message:

[code]

The facebook.properties file contains the key & secret which you described at Plone. As code argument I use the one returned by facebook.

[2012-11-13 12:46] ghost commented on #67
Currently we have the createBackUpJob-REST-Call which creates a new job and schedules it immediately.
This is however insufficient, as we have additional REST-Calls which update the selected options of the source and action plugins (e.g. I'd like to backup photos only and the encryption plugin shall use "xyz" as encryption key).

If you change the settings of the backup job, those settings won't b

[2012-11-13 14:43] fetzig commented on #82
still mimetypes...

[2012-11-13 14:53] ghost commented on #32
Tested by using outlook embedded screenshots, images, shapes, wordarts, smartarts,.. (they all get converted to images!) and gmail embedded images.

[2012-11-13 14:53] #32 closed, assigned to nobody

[2012-11-13 14:55] rsimon commented on #82
Example: (just tested now)

http://bmu-dev02.x:8080/backups/TestUser/11/query

[code]

Mind the "byType" - two groups, one "image", one "text", 3 results each.

[2012-11-13 14:56] rsimon commented on #82
Ok, I see - you want the same types in the files list as well. Fix coming up...

[2012-11-13 15:25] ghost opened #86 "Fix JUnit tests of core"
During the build of the core on dev01 and dev02 the JUnit tests get skipped.
This is because some of them are broken and therefore need to be fixed, before the build can run the test cases again.

The following test fails:
- testAddAuthInfo of the KeyserverTest class

[2012-11-13 15:32] rsimon commented on #82
Now active on dev01 & dev02

[2012-11-13 15:41] ghost commented on #79
Running Moodle with the auth data provided on Plone results in following exception during the backup:

[code]

[2012-11-14 07:00] fjungwirth commented on #79
the moodle error was caused by the moodle installation and is fixed now

[2012-11-14 07:59] #82 closed, assigned to nobody

[2012-11-14 09:54] #84 closed, assigned to nobody

[2012-11-14 09:54] #83 closed, assigned to nobody

[2012-11-15 14:07] fetzig commented on #76
nextBackup is in the past...

[2012-11-16 00:44] WolfgangEibner commented on #81
Should be similar to #64.

[2012-11-19 10:25] ghost opened #87 "Add all parameters (+ source / action options) to the job creation call"
The client calls the POST /jobs/{username} method which creates and schedules a new job immediately.
This is however insufficient, as the client cannot pass the source and action options with this call. Therefore the scheduled job won't  consider the source / action options during the first execution.

To fix this bug, we have to extend the POST /jobs/{username} method by adding the ability to rea

[2012-11-19 12:18] WolfgangEibner commented on #79
Moodle error seems to be fixed. Still having a facebook error.

[2012-11-19 12:55] ghost commented on #87
Updated documentation on plone

[2012-11-19 13:12] rsimon commented on #55
Fix commited in commit c543043a546fbdfb754e42ea3e060d6e0da270d0

[2012-11-19 13:18] ghost commented on #87
Tested on dev02 & dev01

[2012-11-19 13:18] #87 closed, assigned to nobody

[2012-11-19 13:19] ghost commented on #81
We might now store the password within the core database by specifying it during the backup creation.
I'll take a look if I can handle the encryption password differently (storing it within the keyserver)

[2012-11-19 13:33] WolfgangEibner commented on #55
As far as I can see the global user property is named "enable.indexing".

@fetzig: Please implement the necessary changes in UI for global activation/deactivation of index like described above.

[2012-11-19 13:37] rsimon commented on #55
PS: copying my E-Mail with instructions from Nov 8 for reference!

[code]

[2012-11-19 13:59] ghost commented on #81
To manage the encryption property within the keyserver, I'd need following methods:
- POST /actions/{username}/{jobId}/{propertyKey}/{propertyValue}
  Stores / overrides a property of a user's job and encrypts it with {keyRing}
  Additional POST-Parameters
  {keyRing}, which will be used to encrypt / decrypt the properties
- DELETE /actions/{username}/{jobId}/{propertyKey}/{propertyValue}
  which

[2012-11-20 07:31] ghost commented on #67
The createBackUpJob-REST-Call is now capable of receiving in all source and action options (#87).
Therefore the plugins should be able to get the items which shall be backed up!

[2012-11-20 10:50] WolfgangEibner commented on #79
Facebook error should also be fixed now.

[2012-11-20 10:50] #79 closed, assigned to fetzig

[2012-11-20 12:10] ghost commented on #59
Added tests script for following scenarios:
- E-Mail to Dropbox (ParallelJobsEmailDropbox.py)
- Facebook to Discmailing (ParallelJobsFacebookToDiscmailing.py)
- Skydrive to Zip (ParallelJobsSkydriveToZip.py)
- Twitter to Skydrive (ParallelJobsTwitterToSkydrive.py)

All scripts have been tested locally, further tests on dev02 will take place

[2012-11-21 08:24] ghost opened #88 "Provide reschedule flag for JobManager"
The JobManager needs a boolean flag which indicates if the job has to be rescheduled

[2012-11-21 08:32] ghost opened #89 "Add userId to the GET /users/{username} and POST /users/{username}/login"
The response of the following calls also have to return the userId:
- GET /users/{username} and
- POST /users/{username}/login

[2012-11-21 09:12] ghost opened #90 "Zip plugin must be able to write in sftp folder /{directoryTree}/{userId}/{subFolder}"
The zip plugin must be able to write in sftp folder /{directoryTree}/{userId}/{subFolder}.
Currently it is only capable of creating the destination folder /{directoryTree}/{userId}.

[2012-11-21 09:34] ghost commented on #90
Successfully tested on dev02; updated zip plugin and zip.properties of dev01 to store the files via sftp within the folder:

[code]

[2012-11-21 09:58] ghost commented on #90
Tested and deployed on dev02 and dev01

[2012-11-21 09:58] #90 closed, assigned to nobody

[2012-11-21 09:58] ghost commented on #89
Tested and deployed on dev01 and dev02

[2012-11-21 09:58] #89 closed, assigned to nobody

[2012-11-21 10:38] bdf-net commented on #61
Email-notification works, but instead of _one_ email, countless emails are sent to the user.
Please sent one email for a backup-job with failures - instead of one email for every failure inside a backup-job (which I guess is what's happening at the moment).

[2012-11-21 12:47] ghost opened #91 "Add a BackupJob-GET- and BackupJob-PUT-REST-Call to get and update BackupJobs"
Add two new REST calls:
- GET /jobs/{username}/{jobId} which returns a certain job including all information necessary for configuration
- PUT /jobs/{username}/{jobId} which updates a job

[2012-11-21 13:18] ghost commented on #88
Tested on dev02

[2012-11-21 13:18] #88 closed, assigned to rsimon

[2012-11-21 13:41] WolfgangEibner commented on #61
Problem seems to be rescheduling of jobs and not the e-mail itself. Should get fixed when rescheduling is fixed.

[2012-11-21 15:50] WolfgangEibner opened #92 "Index and search for related elements"
... as discussed per mail and in the meeting.

[2012-11-21 15:53] WolfgangEibner commented on #67
@fjungwirth: Could you please check Moodle and/or Facebook plugin if they get the chosen options and if they download only the specified parts?

[2012-11-21 16:49] fetzig opened #93 "should we "auto-login" after user has verified email"
hi,

IS:
- user isn't logged in after registration
- user isn't logged in after verifying email

backmeup-frontend could log the user in after registration and/or email verification. i'm going to implement this.

is there any security concern/feedback/... ?

[2012-11-21 17:07] fetzig opened #94 "reset password functionality"
need functionality to reset forgotten/lost password.

**possible solution**: 2 (or 1) new rest api calls
### request password reset

params: username
returns error/success message
sends email to user with password reset link (http://xxx.xx/reset_password/{hash})
(hash shouldn't be valid after a certain amount of time)
### reset password

prams: username, hash, new password
return error/success mes

[2012-11-21 17:59] ghost commented on #91
Updated plone documentation

[2012-11-21 17:59] ghost commented on #91
Tested on dev01 & dev02

[2012-11-21 17:59] #91 closed, assigned to nobody

[2012-11-23 10:26] WolfgangEibner commented on #93
I don't think so...

[2012-11-23 10:26] WolfgangEibner commented on #94
@fschoeppl Could you please implement this?

[2012-11-23 10:41] WolfgangEibner commented on #56
onHold Flag introduced in 7a42104079f45796dedc39477b00a39ec29582cb.

Still needed:
- changes in REST API (onHold status, feature to put job onHold or reactivate it)
- Put a (rescheduling) job onHold after it ended with an error (do we want that)?
- UI should also offer a possibility to deactivate/reactivate (pause/continue) a job

[2012-11-23 12:27] WolfgangEibner opened #95 "Rollback index at job error"
If a job ends with an error, e.g. upload to dropbox fails, the index entries made by this job should be rolled back. Maybe we could simple delete the specific backup from index with the feature suggested in #63.

[2012-11-23 13:43] fetzig commented on #93
just realized that i can't login after verifying the email, but right after registration. so i'll do only that.

[2012-11-23 13:43] #93 closed, assigned to nobody

[2012-11-23 14:50] WolfgangEibner commented on #55
Closing this in backmeup-prototype and created issue in backmeup-frontend instead.

[2012-11-23 14:54] WolfgangEibner commented on #63
The problem is, that we do not have a entity for one backup execution. (mail from Rainer)

[2012-11-23 14:55] WolfgangEibner commented on #67
Facebook seems to be ok (tested by me), Moodle too (tested by Florian).
Please test Twitter (I have no account) and close issue if all goes well.

[2012-11-23 14:56] fetzig opened #96 "missing properties in [GET] /jobs/{username}/"
current status of job is still missing

in addition there are some properties which need explainiation (aka. "what is that?" comments).

current resoponse of [GET] /jobs/{username}/

[code]

[2012-11-23 14:56] #76 closed, assigned to nobody

[2012-11-23 15:02] fetzig opened #97 "rest api: missing property [GET] /data[sources|sinks]/{username}/profiles"
property 'identification' is missing in profiles created since yesterday.

[2012-11-23 15:04] WolfgangEibner commented on #97
Maybe some wrong commit/merge?
@fschoeppl: Could you please check that?

[2012-11-23 15:48] fetzig opened #98 "plugins not working on server"
newly created dropbox, facebook, twitter datasouce profiles don't work. dropbox event throws an error when requesting the datasource profile options.

[2012-11-25 17:54] ghost commented on #98
I've just created new dropbox and facebook jobs on dev01, using new profiles for dropbox and facebook. Both jobs work as expected.
To fix your problems, please

Additionally I tested the profile options:

[code]

Seems to be working as expected!

I guess that the authentication data of your profiles are invalid, cause I've found some information about that in the log file:

[code]

[2012-11-25 17:57] ghost opened #99 "indexer/core sometimes throws following exception"
I just browsed the log file on dev01 and I found following NPE:

[code]

Additionally I've created a copy of embedded.log named embedded_npe.log.

[2012-11-27 07:38] ghost commented on #96
Hi!

I try to explain the parameters:

[code]

[2012-11-27 09:08] WolfgangEibner commented on #97
seems to be caused by #98

[2012-11-27 09:14] WolfgangEibner commented on #96
Add additional parameter for job interval (daily, weekly, monthly), status (queued, running, successful, error) and lastSuccessfull timestamp.

[2012-11-27 09:48] fetzig commented on #98
was a frontend bug. is fixed now, and works on the server. sorry for the noise.

[2012-11-27 09:48] #98 closed, assigned to nobody

[2012-11-27 09:49] fetzig commented on #97
fine again.

[2012-11-27 09:49] #97 closed, assigned to nobody

[2012-11-27 10:05] fetzig opened #100 "insufficent information about action plugin options..."
getting the available actions for backup-jobs looks like this:

[code]

by convention these actions are visualized in the frontend as checkboxes. and an "array" of actions will be sent when creating the backub jobs. ie:

[code]

but an action can also have "options":

[code]

following issue comes up: how to determine if this action-option is a checkbox or a text input in the frontend?

solutions:

[2012-11-27 10:09] ghost commented on #100
For now, we only have the "org.backmeup.encryption.password" option for the encryption plugin and therefore it is sufficient to use text boxes for action options.

[2012-11-27 10:13] fetzig commented on #100
not true. please check all the /actions/{action}/options/ call's. at least one returns dummy options. those need to go away.

ok thx

[2012-11-27 10:16] ghost commented on #59
Tests have been run and presented at the meeting

[2012-11-27 10:16] #59 closed, assigned to nobody

[2012-11-27 10:24] #61 closed, assigned to nobody

[2012-11-27 14:10] ghost commented on #96
Implemented, documented and tested on dev01 and dev02

[2012-11-27 14:10] #96 closed, assigned to nobody

[2012-12-03 10:28] #99 closed, assigned to rsimon

[2013-07-08 14:43] WolfgangEibner commented on #81
Implemented, but not with the best solution. Maybe we should open a new issue regarding the enhancement and close this one as the initial problem is already solved.

[2013-07-08 14:46] WolfgangEibner commented on #78
I think per default search adds "AND" between two words now if no other keyword is given. Can we close this issue?

[2013-07-08 14:50] WolfgangEibner commented on #64
See also #100 and #backmeup-frontend/17

[2013-07-08 15:14] WolfgangEibner opened #101 "Filter search for specific backup(s)"
It should be also possible to search in specific backup jobs and their executions. At this time we have no index attribute for identifying a single job execution (see also #63)

[2013-07-08 15:21] WolfgangEibner opened #102 "Properties created-at and modified-at for indexed elements"
All plugins should provide this (if possible) and use a common name. UI should show this properties in search results if they exist.

[2013-07-08 15:24] WolfgangEibner opened #103 "Backup of facebook pictures"
Pictures are not indexed anymore?

[2013-07-08 15:28] WolfgangEibner opened #104 "[Ignore] Mistake at issue adding"
Added by mistake - issues can't be deleted, or?

[2013-07-08 15:31] #104 closed, assigned to nobody

[2013-07-09 06:50] rsimon commented on #78
Current behavior is OR (see comments + commit).

[2013-07-09 08:20] #78 closed, assigned to nobody

[2013-07-11 09:56] ghost commented on #94
Implemented full functionallity with commit d584543046d78e3f95d0a6e7f233bf417916a02c
REST Doucmentation PUT /users/{username} has been updated in Plone.

[2013-07-11 10:21] ghost commented on #94
Deployed on dev01

[2013-07-11 12:11] #67 closed, assigned to fjungwirth

[2013-07-11 12:15] WolfgangEibner opened #105 "Dropbox plugin doesn't consider plugin options"
Dropbox plugin ignors plugin options (files/folders which should be downloaded).

[2013-07-11 12:48] #103 closed, assigned to nobody

[2013-07-11 12:54] ghost commented on #64
The GET /actions call now additionally returns a visibility flag, indicating to which part of the GUI it is important. Further documentation within plone.

[2013-07-11 13:15] WolfgangEibner commented on #102
Moodle, Facebook and Twitter should be okay
Dropbox, Skydrive and Mail should be checked

[2013-07-11 13:44] WolfgangEibner commented on #63
Could be identified by job-id and timestamp of job execution.

[2013-07-11 14:03] #94 closed, assigned to nobody

[2013-07-11 14:55] #105 closed, assigned to nobody

[2013-07-12 07:23] fetzig opened #106 "global/user properties api doesn't return json"
i.e.: http://<server>/users/<username>/properties/enable.indexing

returns simply the value of "enable.indexing" as string (not valid json).

please return valid json.

[2013-07-12 07:24] ghost commented on #102
Dropbox API only provides the 'modified' flag
Mail plugin sets the attributes 'receivedAt' and 'sentAt' instead of a modified / created flag.

[2013-07-12 07:53] WolfgangEibner commented on #102
UI work in backmeup/backmeup-frontend#33.

[2013-07-12 07:54] #102 closed, assigned to nobody

[2013-07-12 08:15] #64 closed, assigned to nobody

[2013-07-12 08:15] #106 closed, assigned to nobody

[2013-07-12 08:15] #100 closed, assigned to nobody

[2013-07-12 08:39] fetzig commented on #55
deleteIndex and setting global/user property doesn't need a keyRing...thus anybody can trigger those actions...

should require keyRing.

[2013-07-12 08:42] WolfgangEibner commented on #55
@fschoeppl: Please add keyRing parameter to verify user.

[2013-07-12 11:17] WolfgangEibner commented on #63
Not the best solution at this time because we have no method to list the different timestamps. Only possibly via a search for specific elements of a backup. Further work in the frontend issue.

[2013-07-12 11:17] #63 closed, assigned to rsimon

[2013-07-12 11:54] #81 closed, assigned to nobody

[2013-07-12 12:38] WolfgangEibner commented on #55
KeyRing is only needed on actions which really need it (e.g. creating a job, for communication with keyserver).

[2013-07-12 12:38] #55 closed, assigned to nobody

[2013-07-12 12:54] WolfgangEibner commented on #86
No more tests in Java...

[2013-07-12 12:54] #86 closed, assigned to nobody

[2013-07-12 12:55] WolfgangEibner opened #107 "Delete Java Tests"
We only use python tests at this time. Java tests are deprecated and can be deleted.

[2013-07-12 14:36] WolfgangEibner opened #108 "Umlaut-Probleme in Facebook-Backup again"
The Umlaut-Bug which was fixed in @2d0ec310888049ef0e8339cc76b80ed80c951944 seemed to work till today 16 o'clock. Then we recreated the plugins and after that the Umlaute in Facebook backup and index were "?" again.

[2013-07-12 14:37] WolfgangEibner commented on #108
@keros: Please help at tests and builds.

[2013-07-12 14:46] WolfgangEibner opened #109 "Job execution after job edit"
If a backup job with execution "realtime" is successfully done once:
- Is it possible to restart it a second, third,... time?
- If it is changed to "daily", is it executed daily after the change?
- If it is changed to "daily" and back to "realtime" nothing gets executed

Maybe this has also to do with #56.

[2013-07-17 07:21] keros commented on #101
Issue should be fixed now.
GUI has to be extended to use this filter.
Please test

[2013-07-18 14:36] WolfgangEibner commented on #108
After a rebuild of core, a restart of server and a new backup it seems to work as expected again (really strange behavior).

[2013-07-22 08:48] #101 closed, assigned to rsimon

[2013-08-21 13:49] keros commented on #109
My tests worked. Seems to be fixed

[2013-08-21 15:10] keros commented on #56
Added isOnHold status to the REST GET interface (/jobs/username -> getjobs)

[2013-10-16 13:37] #108 closed, assigned to carina21

[2013-10-16 13:37] #109 closed, assigned to nobody

[2013-10-16 13:43] WolfgangEibner opened #110 "activate indexing for new users per default"
user setting should be set automatically

[2013-10-16 14:13] WolfgangEibner opened #111 "backup job log NullPointerException"
![log_error](https://f.cloud.github.com/assets/1263318/1343068/2bbeb442-366d-11e3-8794-c8e732c69cd6.png)

[2014-04-22 13:49] #111 closed, assigned to keros

[2014-04-22 13:49] #110 closed, assigned to keros